<h1><%= @item.id ? 'Edit item' : 'Create item' %></h1>
<hr />
<%= form_for [@sub, @item] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />

  <%= f.submit %>
<% end %>
